//内容页面样式文件
$width:100%;
$height:100%;
$bgcolor:#fbfbfb;
$fontcolor:#ccc;
$fontSize:12px;
$borderRadius:12px;
$slidecolor:#d3d3d3;
body{
  background: url('../../../static/image/flower3.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}
.contlist{
  list-style: none;
  padding: 1px 0 13px 0;
  border-bottom: 1px solid $slidecolor;
  margin-left: -41px;
}
//居中大容器
.conts{
  width: 80%;
  margin:0 auto;
  background-color: $bgcolor;
  padding: 20px;
  color:#404040;
  border-radius: $borderRadius - 2px;
  font:{
    size:$fontSize + 2px;
  }
}
//作者信息，发表时间
.authorinfo{
  font:{
    size:$fontSize;
    color:$fontcolor;
  }
}
//博客内容
.contanier{
  width: $width;
  height: auto;
}
//评论列表
.comment{
  margin-top: 30px;
}
.listline{
  background-color: $slidecolor;
}
.commentDate{
  float: right;
}
.personinfo{
  margin-bottom: 30px;
  color: #939292;
  @extend .authorinfo

}
.commentInfo{
  padding-left: 3%;
  color: #585858;
    @extend .authorinfo
}
article img{
  width: $width
}
